@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    background-image: url(../img/canva.jpg);
    background-repeat:  no-repeat;
    background-size: 100%;
    /* background-color: aquamarine; */
    font-family: 'Raleway',sans-serif;
}
.login{
    text-align:center;
    color:rosybrown;
    font-size: 50px;
}
.senha{
    text-align:center;
    color: plum;
    font-size: 18px;
}
.usuario{
    text-align: center;
    color: plum;
    font-size: 18px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgba(125, 62, 4, 0.461);
    color:white;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    margin-top: 20px;
}

.menu{
   display: flex;
   /* flex-grow: 2; */
}

.menu li{
    list-style: none;
    background-color: rgba(254, 254, 254, 0.576);
    width: 100px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    color: SaddleBrown;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
}