@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    background-size: 100%;
    overflow-x: hidden;
    background-color: rgb(85, 222, 240); 
    font-family: 'Raleway',sans-serif;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100vw;
    background-color: rgba(7, 4, 1, 0.753);
    color:white;
}

.btn{
    align-items: center;
}