@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    background-size: 100%;
    overflow-x: hidden;
    background-color: rgb(85, 222, 240); 
    font-family: 'Raleway',sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.678);
    color:white;
}

.alinhar{
    position: relative;
    width: 100vw;
    height: 100vh;
}

form{
    width: 300px;
    height: 200px;
    position: absolute;
    text-align: center;
    align-items: center;
    place-items: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.menu li{
    list-style: none;
    background-color: rgba(254, 254, 254, 0.5);
    width: 100px;
    height: 60px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    color: rgb(83, 41, 11);
    font-size: 17px;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    cursor: pointer;
    font-weight: bold;
}