body{
    background-size: 100%;
    overflow-x: hidden;
    background-color: rgb(85, 222, 240); 
    font-family: 'Raleway',sans-serif;
}

<<<<<<< HEAD
.titulo{
=======
.header{
>>>>>>> 623450bcc375d374931d22dd9886521210e6ec8b
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100vw;
    background-color: rgba(125, 62, 4, 0.461);
<<<<<<< HEAD
    color:white;}
=======
    color:white;
}

.menu li{
    list-style: none;
    background-color: rgba(254, 254, 254, 0.5);
    width: 100px;
    height: 60px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    color: rgb(83, 41, 11);
    font-size: 17px;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    cursor: pointer;
    font-weight: bold;
}

button{
    border: 0;
    background-color: transparent;
    outline-style: none !important;
}
>>>>>>> 623450bcc375d374931d22dd9886521210e6ec8b
