body{
    background-size: 100%;
    overflow-x: hidden;
    background-color: rgb(115, 239, 255); 
    font-family: 'Raleway',sans-serif;
}

.menu li{
    list-style: none;
    background-color: rgba(254, 254, 254, 0.5);
    width: 100px;
    height: 60px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    color: rgb(83, 41, 11);
    font-size: 17px;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    cursor: pointer;
    font-weight: bold;
}
button{
    border: 0;
    background-color: transparent;
    outline-style: none !important;
}
.titulo{
    text-align: center;
}